.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 120px;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    .cards-container{
        grid-template-columns: 1fr;
    }
}