
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 45px;
    min-height: 260px;
    background-color: var(--secondary);
    color: var(--main);
}

.num-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--main);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 20px;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 36px;
    font-weight: 400;
    border-bottom: 1px solid var(--main);
    flex: 3 1;
}

.sub {
    font-size: 18px;
    font-weight: 400;
}

.text {
    font-size: 18px;
    font-weight: 700;
}

.details-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    width: 200px;
    height: 50px;
    font-size: 14px;
    background-color: var(--main);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    transform: translate(4%, 20%);
}

.details-btn:hover {
    border: 2px solid var(--main);
    background-color: var(--secondary);
    color: var(--main);    
}

.details-btn .arrow-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 36px;
    font-weight: 700;
    transform: translateY(-50%);
}

@media screen and (max-width: 930px) {
    .card {
        max-width: 410px;
    }
}