
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-inline: 20px;
    border-bottom: 1px solid var(--secondary);
    color: var(--secondary);
}

header h1,
.menu {
    font-size: 36px;
}
